/* purgecss start ignore */
@tailwind base;

html {
  box-sizing: border-box; 
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	@apply bg-gray-100 font-sans;
}

.gradient {
  background: linear-gradient(90deg, #ffffff 0%, #f2f2f2 100%);
}

.spin-right {
		-webkit-animation: spin-forward .025s linear forwards;
}

.spin-left {
		-webkit-animation: spin-backward .025s linear forwards;
}

@keyframes spin-forward {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(45deg);
  }
}

@keyframes spin-backward {
  from {
    transform: rotate(45deg);
  } to {
    transform: rotate(0deg);
  }
}

.fade-in {
  -webkit-animation: fade-in 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(.9);
  } to {
    opacity: 1;
    transform: scale(1);
  }
}

@tailwind components;

/* purgecss end ignore */
@tailwind utilities;

